<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name  = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Url Shrinker</title>
</head>
<body>
    <div class = "container">
        <h1 class="my-4">URL Shrinker</h1>
        <form action="/shortUrls" method="POST" class="my-4 from inline">
            <input required type="url" name="fullUrl" id ="fullUrl" placeholder="Enter Full URL"
            class = "form-control col mr-2">
            <button class = "btn btn-success my-2" type="submit">Shrink</button>
        </form>
    
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => {%>
                    <tr>
                        <td><a href= "<%= shortUrl.full %>" > <%= shortUrl.full %></a></td>
                        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                        <td><%= shortUrl.clicks %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>